body {
  font-size: 15px;
}
#main-content {
  margin-top: 5.5em;
}
#search-field {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

#search-radios {
  margin-bottom: 1.5em;
}

#search-btn {
  margin-bottom: 1.5em;
}

.table-responsive {
  padding-bottom: 5.5em;
}